@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;1,300&display=swap');

:root {
    --color-bg: #faf8f7;
    --color-link: #ea645f;

    --font-headers: 'Spectral', serif;
    --font-body: 'Spectral', serif;

}

body {
    background-color: var(--color-bg);
    font-family: var(--font-headers);
}

main {
    margin: 0 auto;
    max-width: 95vw;
}

@media screen and (min-width: 800px) {
    main {
        max-width: 80vw;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 60vw;
    }
}