@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;1,300&display=swap');

:root {
    --color-bg: #faf8f7;
    --color-link: #e34039;
    --color-sourced: #f1c6f6;

    --font-headers: 'Spectral', serif;
    --font-body: 'Spectral', serif;
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-headers);
    line-height: 1.5;
}

main {
    margin: 0 auto;
    min-height: 75vh;
    max-width: 95vw;
}

@media screen and (min-width: 800px) {
    main {
        max-width: 80vw;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 60vw;
    }
}

.math {
    overflow-x: auto;
}

.math::-webkit-scrollbar, pre::-webkit-scrollbar {
    height: 10px;
}
.math::-webkit-scrollbar-track, pre::-webkit-scrollbar-track {
    background-color: gray;
}
.math::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
    background-color: #545151;
}